.icon {
    position: relative;
    overflow: hidden;
    /*width: 50px;
    height: 50px;
    display: inline-block;
    margin: 25px 0 25px 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    font-family: sans-serif;*/
}

    /*.icon:nth-child(1) {
        background: cornflowerblue;
    }

    .icon:nth-child(2) {
        background: salmon;
    }

    .icon:nth-child(3) {
        background: gray;
    }*/

    /**
 * The "shine" element
 */

    .icon:after {
        animation: shine 5s ease-in-out infinite;
        animation-fill-mode: forwards;
        content: "";
        position: absolute;
        top: -110%;
        left: -30%;
        width: 50%;
        height: 300%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );
    }

    /* Hover state - trigger effect */


    /* Active state */

    .icon:active:after {
        opacity: 0;
    }

    .icon.shine-2:after {
        animation: shine2 2s ease-in-out infinite;
        top: -174%;
        left: -50%;
        width: 30%;
        transform: rotate( 71deg );
        background: linear-gradient( to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 77%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0.0) 100% );
    }

    .icon.shine-3:after {
        width: 20%;
        height: 350%;
    }

@keyframes shine {
    30% {
        opacity: 1;
        top: -100%;
        left: 120%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -100%;
        left: 120%;
        transition-property: left, top, opacity;
    }
}

@keyframes shine2 {
    55% {
        opacity: 1;
        top: -50%;
        left: 120%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -50%;
        left: 120%;
        transition-property: left, top, opacity;
    }
}
